  <!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>fullpage exemple</title>
    <meta name="author" content="Dramane Bamba" />
    <meta name="description" content="One page site" />
    <meta name="keywords"  content="fullpage,design,javascript,jquery" />
    <meta name="Resource-type" content="Document" />

  <%# Included scripts %>
    <link rel="stylesheet" type="text/css" href="/dist/jquery.fullpage.css" />
    <link rel="stylesheet" type="text/css" href="/examples/examples.css" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendors/scrolloverflow.js"></script>
    <script type="text/javascript" src="/dist/jquery.fullpage.js"></script>
    <script type="text/javascript" src="/js/param.js"></script>

  </head>

  <body>

    <div id="fullpage">
      <div class="section">
      	<div class="slide" data-anchor="slide1"> Slide 111111111 </div>
      	<div class="slide" data-anchor="slide2"> Slide 222222222 </div>
      	<div class="slide" data-anchor="slide3"> Slide 333333333 </div>
      	<div class="slide" data-anchor="slide4"> Slide 444444444 </div>
        <div class="slide" data-anchor="slide5"> Slide 555555555 </div>
      </div>
      <div class="section">
        <div class="slide" data-anchor="slide1"> Slide 111111111 </div>
        <div class="slide" data-anchor="slide2"> Slide 222222222 </div>
        <div class="slide" data-anchor="slide3"> Slide 333333333 </div>
        <div class="slide" data-anchor="slide4"> Slide 444444444 </div>
      </div>
    </div>

  </body>
  </html>
